<% layout('layouts/boilerplate') %>
<h1>Edit Journal</h1>
<form action="/journals/<%= journal._id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="journal[title]"
      value="<%= journal.title %> "
    />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      id="location"
      name="journal[location]"
      value="<%= journal.location %>"
    />
  </div>
  <div>
    <label for="text">Text</label>
    <textarea name="journal[text]" id="text" cols="30" rows="10">
<%= journal.text %></textarea
    >
  </div>
  <button>Post Journal</button>
</form>
<a href="/journals/<%= journal._id %> ">Back to Journal</a>
