<% layout('layouts/boilerplate') %>
<img src="<%= journal.image %>" class="img-fluid" alt="" />
<h1 class="mt-5"><%= journal.title %></h1>
<p><small><%= journal.date %></small></p>
<p class="mt-5"><%= journal.text %></p>
<a class="btn btn-primary" href="/journals/<%= journal._id %>/edit">Edit</a>
<form
  class="d-inline"
  action="/journals/<%= journal._id %>?_method=DELETE"
  method="POST"
>
  <button class="btn btn-danger">Delete</button>
</form>
