<% layout('layouts/boilerplate') %>
<div class="mb-3">
  <img src="<%= journal.image %>" class="img-fluid" alt="" />
  <h1 class="mt-5"><%= journal.title %></h1>
  <p><small><%= journal.author.username %></small></p>
  <p><small><%= journal.date %></small></p>
  <p class="mt-5"><%= journal.text %></p>
  <% if (currentUser && journal.author.equals(currentUser)) {%>
  <a class="btn btn-primary" href="/journals/<%= journal._id %>/edit">Edit</a>
  <form
    class="d-inline"
    action="/journals/<%= journal._id %>?_method=DELETE"
    method="POST"
  >
    <button class="btn btn-danger">Delete</button>
  </form>
  <% } %>
</div>
<h2>Leave a Comment</h2>
<form
  action="/journals/<%= journal._id %>/comments"
  method="POST"
  class="mb-3 validated-form"
  novalidate
>
  <div>
    <label class="form-label" for="body">Comment</label>
    <textarea
      class="form-control"
      name="comment[body]"
      id="body"
      cols="30"
      rows="3"
      required
    ></textarea>
    <div class="valid-feedback">Looks good!</div>
  </div>
  <button class="btn btn-success">Submit</button>
</form>
<% for (let comment of journal.comments) { %>
<div class="mb-3 card">
  <div class="card-body">
    <h5 class="card-title"><%= journal.title %></h5>
    <p class="card-text"><%= comment.body %></p>
    <form
      action="/journals/<%= journal._id %>/comments/<%= comment._id %>?_method=DELETE"
      method="POST"
    >
      <button class="btn btn-sm btn-danger">Delete</button>
    </form>
  </div>
</div>
<% } %>
